body{
	
	background-color:rgb(132, 132, 132);
}

h1{
	font: sans-serif;
	color:rgb(237, 237, 237);
}
h3{
	color: white;
}
div{
	width: 25%;
	display: inline-block;
	text-align: center; 
	border: 1px solid grey;
	background-color: white;
}
div>a{
	text-decoration: none;
	color: rgb(132, 132, 132);
	font-weight: bold;
}
div>a>h2{
	color: rgb(132, 132, 132);
}
div:hover{
	box-shadow: 10px 10px 10px rgb(242, 255, 255);
	transition:0.5s ease-in;
	transform:scale(1.2);
}